LogicApp/GitHubCMSLogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each_Added_Webhook": {
                "actions": {
                    "Append_to_array_variable_Added": {
                        "inputs": {
                            "name": "AddedModifiedFiles",
                            "value": "@items('For_each_Added_Webhook')"
                        },
                        "runAfter": {},
                        "type": "AppendToArrayVariable"
                    }
                },
                "foreach": "@body('Webhook_JSON')?['head_commit']?['added']",
                "runAfter": {
                    "Webhook_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "For_each_Added_or_Modified_file": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Create_blob": {
                                "inputs": {
                                    "body": "@base64ToString(body('GitHubMarkdownToHtml'))",
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/datasets/default/files",
                                    "queries": {
                                        "folderPath": "/contents",
                                        "name": "@{concat(variables('UniqueId'),'.html')}",
                                        "queryParametersSingleEncoded": true
                                    }
                                },
                                "runAfter": {
                                    "GitHubMarkdownToHtml": [
                                        "Succeeded"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                },
                                "type": "ApiConnection"
                            },
                            "GitHubMarkdownToHtml": {
                                "inputs": {
                                    "body": "@variables('GitHubApiUrl')",
                                    "method": "POST",
                                    "uri": "@{variables('FunctionEndpoint')}api/GitHubMarkdownToHtml"
                                },
                                "runAfter": {
                                    "Set_GitHubApiUrl": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Insert_or_Replace_Entity": {
                                "inputs": {
                                    "body": "@body('YamlToMetadata')",
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables_1']['connectionId']"
                                        }
                                    },
                                    "method": "put",
                                    "path": "/Tables/@{encodeURIComponent('Contents')}/entities(PartitionKey='@{encodeURIComponent(body('Parse_YamlToMetadata')?['type'])}',RowKey='@{encodeURIComponent(body('Parse_YamlToMetadata')?['key'])}')"
                                },
                                "runAfter": {
                                    "Parse_YamlToMetadata": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "Parse_YamlToMetadata": {
                                "inputs": {
                                    "content": "@body('YamlToMetadata')",
                                    "schema": {
                                        "properties": {
                                            "author": {
                                                "type": "string"
                                            },
                                            "categories": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "gitHubPath": {
                                                "type": "string"
                                            },
                                            "htmlBlobPath": {
                                                "type": "string"
                                            },
                                            "image": {
                                                "type": "string"
                                            },
                                            "key": {
                                                "type": "string"
                                            },
                                            "path": {
                                                "type": "string"
                                            },
                                            "published": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            },
                                            "thumbnail": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "YamlToMetadata": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            },
                            "Set_GitHubApiUrl": {
                                "inputs": {
                                    "name": "GitHubApiUrl",
                                    "value": "https://api.github.com/repos/@{body('Webhook_JSON')?['head_commit']?['author']?['username']}/@{body('Webhook_JSON')?['repository']?['name']}/contents/@{items('For_each_Added_or_Modified_file')}"
                                },
                                "runAfter": {
                                    "Set_UniqueId": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable"
                            },
                            "Set_UniqueId": {
                                "inputs": {
                                    "name": "UniqueId",
                                    "value": "@{base64(items('For_each_Added_or_Modified_file'))}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            },
                            "YamlToMetadata": {
                                "inputs": {
                                    "body": "@variables('GitHubApiUrl')",
                                    "method": "POST",
                                    "queries": {
                                        "BlobPath": "https://martinkme.blob.core.windows.net@{body('Create_blob')['Path']}"
                                    },
                                    "uri": "@{variables('FunctionEndpoint')}api/YamlToMetadata"
                                },
                                "runAfter": {
                                    "Create_blob": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "endsWith": [
                                        "@items('For_each_Added_or_Modified_file')",
                                        ".md"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "foreach": "@variables('AddedModifiedFiles')",
                "runAfter": {
                    "For_each_Added_Webhook": [
                        "Succeeded"
                    ],
                    "For_each_Modified_Webhook": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "For_each_Modified_Webhook": {
                "actions": {
                    "Append_to_array_variable_Modified": {
                        "inputs": {
                            "name": "AddedModifiedFiles",
                            "value": "@items('For_each_Modified_Webhook')"
                        },
                        "runAfter": {},
                        "type": "AppendToArrayVariable"
                    }
                },
                "foreach": "@body('Webhook_JSON')?['head_commit']?['Modified']",
                "runAfter": {
                    "Webhook_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "For_each_Removed_Webhook": {
                "actions": {
                    "Delete_Entity": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuretables_1']['connectionId']"
                                }
                            },
                            "method": "delete",
                            "path": "/Tables/@{encodeURIComponent('Contents')}/entities/etag(PartitionKey='@{encodeURIComponent('article')}',RowKey='@{encodeURIComponent(base64(items('For_each_Removed_Webhook')))}')"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Webhook_JSON')?['head_commit']?['removed']",
                "runAfter": {
                    "For_each_Added_or_Modified_file": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_AddedModifiedFiles": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AddedModifiedFiles",
                            "type": "Array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_FunctionEndpoint": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_FunctionEndpoint": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FunctionEndpoint",
                            "type": "String",
                            "value": "https://martinkearnfunctions.azurewebsites.net/"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_GitHubApiUrl": {
                "inputs": {
                    "variables": [
                        {
                            "name": "GitHubApiUrl",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_UniqueId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_UniqueId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "UniqueId",
                            "type": "String"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_AddedModifiedFiles": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Webhook_JSON": {
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "properties": {
                            "after": {
                                "type": "string"
                            },
                            "base_ref": {},
                            "before": {
                                "type": "string"
                            },
                            "commits": {
                                "items": {
                                    "properties": {
                                        "added": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "author": {
                                            "properties": {
                                                "email": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "committer": {
                                            "properties": {
                                                "email": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "distinct": {
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "modified": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "removed": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "timestamp": {
                                            "type": "string"
                                        },
                                        "tree_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "tree_id",
                                        "distinct",
                                        "message",
                                        "timestamp",
                                        "url",
                                        "author",
                                        "committer",
                                        "added",
                                        "removed",
                                        "modified"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "compare": {
                                "type": "string"
                            },
                            "created": {
                                "type": "boolean"
                            },
                            "deleted": {
                                "type": "boolean"
                            },
                            "forced": {
                                "type": "boolean"
                            },
                            "head_commit": {
                                "properties": {
                                    "added": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "author": {
                                        "properties": {
                                            "email": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "committer": {
                                        "properties": {
                                            "email": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "distinct": {
                                        "type": "boolean"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "modified": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "removed": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "timestamp": {
                                        "type": "string"
                                    },
                                    "tree_id": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "pusher": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "ref": {
                                "type": "string"
                            },
                            "repository": {
                                "properties": {
                                    "archive_url": {
                                        "type": "string"
                                    },
                                    "archived": {
                                        "type": "boolean"
                                    },
                                    "assignees_url": {
                                        "type": "string"
                                    },
                                    "blobs_url": {
                                        "type": "string"
                                    },
                                    "branches_url": {
                                        "type": "string"
                                    },
                                    "clone_url": {
                                        "type": "string"
                                    },
                                    "collaborators_url": {
                                        "type": "string"
                                    },
                                    "comments_url": {
                                        "type": "string"
                                    },
                                    "commits_url": {
                                        "type": "string"
                                    },
                                    "compare_url": {
                                        "type": "string"
                                    },
                                    "contents_url": {
                                        "type": "string"
                                    },
                                    "contributors_url": {
                                        "type": "string"
                                    },
                                    "created_at": {
                                        "type": "integer"
                                    },
                                    "default_branch": {
                                        "type": "string"
                                    },
                                    "deployments_url": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "downloads_url": {
                                        "type": "string"
                                    },
                                    "events_url": {
                                        "type": "string"
                                    },
                                    "fork": {
                                        "type": "boolean"
                                    },
                                    "forks": {
                                        "type": "integer"
                                    },
                                    "forks_count": {
                                        "type": "integer"
                                    },
                                    "forks_url": {
                                        "type": "string"
                                    },
                                    "full_name": {
                                        "type": "string"
                                    },
                                    "git_commits_url": {
                                        "type": "string"
                                    },
                                    "git_refs_url": {
                                        "type": "string"
                                    },
                                    "git_tags_url": {
                                        "type": "string"
                                    },
                                    "git_url": {
                                        "type": "string"
                                    },
                                    "has_downloads": {
                                        "type": "boolean"
                                    },
                                    "has_issues": {
                                        "type": "boolean"
                                    },
                                    "has_pages": {
                                        "type": "boolean"
                                    },
                                    "has_projects": {
                                        "type": "boolean"
                                    },
                                    "has_wiki": {
                                        "type": "boolean"
                                    },
                                    "homepage": {},
                                    "hooks_url": {
                                        "type": "string"
                                    },
                                    "html_url": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "issue_comment_url": {
                                        "type": "string"
                                    },
                                    "issue_events_url": {
                                        "type": "string"
                                    },
                                    "issues_url": {
                                        "type": "string"
                                    },
                                    "keys_url": {
                                        "type": "string"
                                    },
                                    "labels_url": {
                                        "type": "string"
                                    },
                                    "language": {},
                                    "languages_url": {
                                        "type": "string"
                                    },
                                    "license": {},
                                    "master_branch": {
                                        "type": "string"
                                    },
                                    "merges_url": {
                                        "type": "string"
                                    },
                                    "milestones_url": {
                                        "type": "string"
                                    },
                                    "mirror_url": {},
                                    "name": {
                                        "type": "string"
                                    },
                                    "node_id": {
                                        "type": "string"
                                    },
                                    "notifications_url": {
                                        "type": "string"
                                    },
                                    "open_issues": {
                                        "type": "integer"
                                    },
                                    "open_issues_count": {
                                        "type": "integer"
                                    },
                                    "owner": {
                                        "properties": {
                                            "avatar_url": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "events_url": {
                                                "type": "string"
                                            },
                                            "followers_url": {
                                                "type": "string"
                                            },
                                            "following_url": {
                                                "type": "string"
                                            },
                                            "gists_url": {
                                                "type": "string"
                                            },
                                            "gravatar_id": {
                                                "type": "string"
                                            },
                                            "html_url": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "login": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "node_id": {
                                                "type": "string"
                                            },
                                            "organizations_url": {
                                                "type": "string"
                                            },
                                            "received_events_url": {
                                                "type": "string"
                                            },
                                            "repos_url": {
                                                "type": "string"
                                            },
                                            "site_admin": {
                                                "type": "boolean"
                                            },
                                            "starred_url": {
                                                "type": "string"
                                            },
                                            "subscriptions_url": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "private": {
                                        "type": "boolean"
                                    },
                                    "pulls_url": {
                                        "type": "string"
                                    },
                                    "pushed_at": {
                                        "type": "integer"
                                    },
                                    "releases_url": {
                                        "type": "string"
                                    },
                                    "size": {
                                        "type": "integer"
                                    },
                                    "ssh_url": {
                                        "type": "string"
                                    },
                                    "stargazers": {
                                        "type": "integer"
                                    },
                                    "stargazers_count": {
                                        "type": "integer"
                                    },
                                    "stargazers_url": {
                                        "type": "string"
                                    },
                                    "statuses_url": {
                                        "type": "string"
                                    },
                                    "subscribers_url": {
                                        "type": "string"
                                    },
                                    "subscription_url": {
                                        "type": "string"
                                    },
                                    "svn_url": {
                                        "type": "string"
                                    },
                                    "tags_url": {
                                        "type": "string"
                                    },
                                    "teams_url": {
                                        "type": "string"
                                    },
                                    "trees_url": {
                                        "type": "string"
                                    },
                                    "updated_at": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    },
                                    "watchers": {
                                        "type": "integer"
                                    },
                                    "watchers_count": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "sender": {
                                "properties": {
                                    "avatar_url": {
                                        "type": "string"
                                    },
                                    "events_url": {
                                        "type": "string"
                                    },
                                    "followers_url": {
                                        "type": "string"
                                    },
                                    "following_url": {
                                        "type": "string"
                                    },
                                    "gists_url": {
                                        "type": "string"
                                    },
                                    "gravatar_id": {
                                        "type": "string"
                                    },
                                    "html_url": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "login": {
                                        "type": "string"
                                    },
                                    "node_id": {
                                        "type": "string"
                                    },
                                    "organizations_url": {
                                        "type": "string"
                                    },
                                    "received_events_url": {
                                        "type": "string"
                                    },
                                    "repos_url": {
                                        "type": "string"
                                    },
                                    "site_admin": {
                                        "type": "boolean"
                                    },
                                    "starred_url": {
                                        "type": "string"
                                    },
                                    "subscriptions_url": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Initialize_GitHubApiUrl": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "properties": {
                            "after": {
                                "type": "string"
                            },
                            "base_ref": {},
                            "before": {
                                "type": "string"
                            },
                            "commits": {
                                "items": {
                                    "properties": {
                                        "added": {
                                            "type": "array"
                                        },
                                        "author": {
                                            "properties": {
                                                "email": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "committer": {
                                            "properties": {
                                                "email": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "distinct": {
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "modified": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "removed": {
                                            "type": "array"
                                        },
                                        "timestamp": {
                                            "type": "string"
                                        },
                                        "tree_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "tree_id",
                                        "distinct",
                                        "message",
                                        "timestamp",
                                        "url",
                                        "author",
                                        "committer",
                                        "added",
                                        "removed",
                                        "modified"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "compare": {
                                "type": "string"
                            },
                            "created": {
                                "type": "boolean"
                            },
                            "deleted": {
                                "type": "boolean"
                            },
                            "forced": {
                                "type": "boolean"
                            },
                            "head_commit": {
                                "properties": {
                                    "added": {
                                        "type": "array"
                                    },
                                    "author": {
                                        "properties": {
                                            "email": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "committer": {
                                        "properties": {
                                            "email": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "distinct": {
                                        "type": "boolean"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "modified": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "removed": {
                                        "type": "array"
                                    },
                                    "timestamp": {
                                        "type": "string"
                                    },
                                    "tree_id": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "pusher": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "ref": {
                                "type": "string"
                            },
                            "repository": {
                                "properties": {
                                    "archive_url": {
                                        "type": "string"
                                    },
                                    "archived": {
                                        "type": "boolean"
                                    },
                                    "assignees_url": {
                                        "type": "string"
                                    },
                                    "blobs_url": {
                                        "type": "string"
                                    },
                                    "branches_url": {
                                        "type": "string"
                                    },
                                    "clone_url": {
                                        "type": "string"
                                    },
                                    "collaborators_url": {
                                        "type": "string"
                                    },
                                    "comments_url": {
                                        "type": "string"
                                    },
                                    "commits_url": {
                                        "type": "string"
                                    },
                                    "compare_url": {
                                        "type": "string"
                                    },
                                    "contents_url": {
                                        "type": "string"
                                    },
                                    "contributors_url": {
                                        "type": "string"
                                    },
                                    "created_at": {
                                        "type": "integer"
                                    },
                                    "default_branch": {
                                        "type": "string"
                                    },
                                    "deployments_url": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "downloads_url": {
                                        "type": "string"
                                    },
                                    "events_url": {
                                        "type": "string"
                                    },
                                    "fork": {
                                        "type": "boolean"
                                    },
                                    "forks": {
                                        "type": "integer"
                                    },
                                    "forks_count": {
                                        "type": "integer"
                                    },
                                    "forks_url": {
                                        "type": "string"
                                    },
                                    "full_name": {
                                        "type": "string"
                                    },
                                    "git_commits_url": {
                                        "type": "string"
                                    },
                                    "git_refs_url": {
                                        "type": "string"
                                    },
                                    "git_tags_url": {
                                        "type": "string"
                                    },
                                    "git_url": {
                                        "type": "string"
                                    },
                                    "has_downloads": {
                                        "type": "boolean"
                                    },
                                    "has_issues": {
                                        "type": "boolean"
                                    },
                                    "has_pages": {
                                        "type": "boolean"
                                    },
                                    "has_projects": {
                                        "type": "boolean"
                                    },
                                    "has_wiki": {
                                        "type": "boolean"
                                    },
                                    "homepage": {},
                                    "hooks_url": {
                                        "type": "string"
                                    },
                                    "html_url": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "issue_comment_url": {
                                        "type": "string"
                                    },
                                    "issue_events_url": {
                                        "type": "string"
                                    },
                                    "issues_url": {
                                        "type": "string"
                                    },
                                    "keys_url": {
                                        "type": "string"
                                    },
                                    "labels_url": {
                                        "type": "string"
                                    },
                                    "language": {},
                                    "languages_url": {
                                        "type": "string"
                                    },
                                    "license": {},
                                    "master_branch": {
                                        "type": "string"
                                    },
                                    "merges_url": {
                                        "type": "string"
                                    },
                                    "milestones_url": {
                                        "type": "string"
                                    },
                                    "mirror_url": {},
                                    "name": {
                                        "type": "string"
                                    },
                                    "node_id": {
                                        "type": "string"
                                    },
                                    "notifications_url": {
                                        "type": "string"
                                    },
                                    "open_issues": {
                                        "type": "integer"
                                    },
                                    "open_issues_count": {
                                        "type": "integer"
                                    },
                                    "owner": {
                                        "properties": {
                                            "avatar_url": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "events_url": {
                                                "type": "string"
                                            },
                                            "followers_url": {
                                                "type": "string"
                                            },
                                            "following_url": {
                                                "type": "string"
                                            },
                                            "gists_url": {
                                                "type": "string"
                                            },
                                            "gravatar_id": {
                                                "type": "string"
                                            },
                                            "html_url": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "login": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "node_id": {
                                                "type": "string"
                                            },
                                            "organizations_url": {
                                                "type": "string"
                                            },
                                            "received_events_url": {
                                                "type": "string"
                                            },
                                            "repos_url": {
                                                "type": "string"
                                            },
                                            "site_admin": {
                                                "type": "boolean"
                                            },
                                            "starred_url": {
                                                "type": "string"
                                            },
                                            "subscriptions_url": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "private": {
                                        "type": "boolean"
                                    },
                                    "pulls_url": {
                                        "type": "string"
                                    },
                                    "pushed_at": {
                                        "type": "integer"
                                    },
                                    "releases_url": {
                                        "type": "string"
                                    },
                                    "size": {
                                        "type": "integer"
                                    },
                                    "ssh_url": {
                                        "type": "string"
                                    },
                                    "stargazers": {
                                        "type": "integer"
                                    },
                                    "stargazers_count": {
                                        "type": "integer"
                                    },
                                    "stargazers_url": {
                                        "type": "string"
                                    },
                                    "statuses_url": {
                                        "type": "string"
                                    },
                                    "subscribers_url": {
                                        "type": "string"
                                    },
                                    "subscription_url": {
                                        "type": "string"
                                    },
                                    "svn_url": {
                                        "type": "string"
                                    },
                                    "tags_url": {
                                        "type": "string"
                                    },
                                    "teams_url": {
                                        "type": "string"
                                    },
                                    "trees_url": {
                                        "type": "string"
                                    },
                                    "updated_at": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    },
                                    "watchers": {
                                        "type": "integer"
                                    },
                                    "watchers_count": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "sender": {
                                "properties": {
                                    "avatar_url": {
                                        "type": "string"
                                    },
                                    "events_url": {
                                        "type": "string"
                                    },
                                    "followers_url": {
                                        "type": "string"
                                    },
                                    "following_url": {
                                        "type": "string"
                                    },
                                    "gists_url": {
                                        "type": "string"
                                    },
                                    "gravatar_id": {
                                        "type": "string"
                                    },
                                    "html_url": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "login": {
                                        "type": "string"
                                    },
                                    "node_id": {
                                        "type": "string"
                                    },
                                    "organizations_url": {
                                        "type": "string"
                                    },
                                    "received_events_url": {
                                        "type": "string"
                                    },
                                    "repos_url": {
                                        "type": "string"
                                    },
                                    "site_admin": {
                                        "type": "boolean"
                                    },
                                    "starred_url": {
                                        "type": "string"
                                    },
                                    "subscriptions_url": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob_1": {
                    "connectionId": "/subscriptions/1fcbb1ab-1178-46fc-8c5d-f0e20b65610d/resourceGroups/MartinKearn/providers/Microsoft.Web/connections/azureblob-1",
                    "connectionName": "azureblob-1",
                    "id": "/subscriptions/1fcbb1ab-1178-46fc-8c5d-f0e20b65610d/providers/Microsoft.Web/locations/uksouth/managedApis/azureblob"
                },
                "azuretables_1": {
                    "connectionId": "/subscriptions/1fcbb1ab-1178-46fc-8c5d-f0e20b65610d/resourceGroups/MartinKearn/providers/Microsoft.Web/connections/azuretables-1",
                    "connectionName": "azuretables-1",
                    "id": "/subscriptions/1fcbb1ab-1178-46fc-8c5d-f0e20b65610d/providers/Microsoft.Web/locations/uksouth/managedApis/azuretables"
                }
            }
        }
    }
}
